.fileInput {
  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
  }

  &__customInput {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    color: var(--color-black);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 158.2%;
    & svg {
      margin-right: 10px;
    }
  }

  &__describe {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 158.2%;
  }
}

@media screen and (max-width: 576px) {
  .fileInput {
    &__customInput {
      font-size: 12px;
      & svg {
        width: 12px;
        height: 15px;
        margin-right: 5px;
      }
    }

    &__describe {
      font-size: 10px;
    }
  }
}
