.form {
  &__clientInfo {
    display: grid;
    margin-bottom: 61px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__bottom {
    display: grid;
    gap: 41px;
  }

  &__input {
    width: 100%;
    color: var(--color-black);
    border: none;
    border-bottom: 1px solid var(--color-black);
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 130.2%;

    &:focus-visible {
      outline: none;
    }
  }

  &__agreeLink {
    color: var(--color-black);
  }
  &__button {
    padding: 15px 53px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 50px;
    background: var(--color-salmon-pink);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 158.2%;
    justify-self: flex-start;
  }
}

@media screen and (max-width: 1200px) {
  .form {
    &__clientInfo {
      margin-bottom: 35px;
      grid-template-columns: 1fr;
      gap: 35px;
    }

    &__button {
      justify-self: auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .form {
    margin-bottom: 0;
    &__clientInfo {
      margin-bottom: 30px;
      grid-template-columns: 1fr;
      gap: 30px;
    }

    &__bottom {
      gap: 25px;
    }

    &__input {
      font-size: 12px;
    }

    &__button {
      width: 100%;
      padding: 7px 20px;
      font-size: 14px;
    }
  }
}
